

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 80%;
  margin: auto;
}

.card {
  border-radius: 5px;
  box-shadow: 2px 2px 7px var(--shadow);
  height: 340px;
  overflow: hidden;
}

.c-header {
  height: 45%;
  overflow: hidden;
}

.c-header img {
  width: 100%;
}

.c-body {
  padding: 10px;
}

.c-body h3 {
  color: var(--secondary);
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px;
}

.btn-lg {
  width: 100%;
}